___

<a href='https://viqasys.com/wp-content/uploads/2021/07/ns1.png'><img src='https://viqasys.com/wp-content/uploads/2021/07/ns1.png'/></a>
___
<center><em>Content Copyright VIQASYS INNOVATIONS PVT LTD.</em></center>

# Assignment 3

## Question 1
Write a Python program to create a list with the following elements: 4, 8, 9, 'apple', 'banana', 'cherry'. Print the list.

In [1]:
list = [4,8,9,'apple','banana','cherry']
print(list)

[4, 8, 9, 'apple', 'banana', 'cherry']

## Question 2
Given the list [10, 20, 30, 40, 50], write a Python script to print the second and fourth elements.

In [2]:
my_list = [10, 20, 30, 40, 50]

print("Second element:", my_list[1])
print("Fourth element:", my_list[3])

Second element: 20
Fourth element: 40

## Question 3
Create a list of the first 10 even numbers. Write a Python program to print the first half of the list using slicing.

In [4]:
even_num = [2 * i for i in range(1, 11)]

print("List of the first 10 even numbers:", even_num)

first_half = even_num[:len(even_num)//2]
print("First half of the list:", first_half)

List of the first 10 even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
First half of the list: [2, 4, 6, 8, 10]

## Question 4
Here is a list: ["red", "green", "blue"]. Change the element "blue" to "yellow" and print the updated list.

In [5]:
color_list = ["red", "green", "blue"]

color_list[2] = "yellow"

print("Updated list:", color_list)

Updated list: ['red', 'green', 'yellow']

## Question 5
Start with an empty list. Write a Python program to append 'apple', 'banana', and 'cherry' to the list using separate append calls, then print the list.

In [6]:
my_list = []

my_list.append('apple')

my_list.append('banana')

my_list.append('cherry')

print("List after appending:", my_list)

List after appending: ['apple', 'banana', 'cherry']

## Question 6
Given two lists, [1, 2, 3] and [4, 5, 6], write a Python script that extends the first list with the second list and prints the updated list.

In [7]:

list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)

print("Updated list:", list1)

Updated list: [1, 2, 3, 4, 5, 6]

## Question 7
Here is a list: [1, 2, 4]. Insert the number 3 at the appropriate position to maintain sorted order and print the list.

In [8]:
my_list = [1, 2, 4]

for i in range(len(my_list)):
    if my_list[i] > 3:
        my_list.insert(i, 3)
        break
else:
    my_list.append(3)
    
print("Updated list:", my_list)

Updated list: [1, 2, 3, 4]

## Question 8
From the list [1, 2, 3, 4, 5, 3], write a Python program to remove the first occurrence of the number 3.

In [9]:
my_list = [1, 2, 3, 4, 5, 3]

my_list.remove(3)

print("Updated list:", my_list)

Updated list: [1, 2, 4, 5, 3]

## Question 9
Using the list [10, 20, 30, 40, 50], write a Python script to remove and print the last element.

In [10]:
my_list = [10, 20, 30, 40, 50]

last_element = my_list.pop()

print("Removed element:", last_element)

print("Updated list:", my_list)

Removed element: 50
Updated list: [10, 20, 30, 40]

## Question 10
Take the list [1, 2, 3, 4, 5] and write a Python script that empties the list and prints it.

In [11]:
my_list = [1, 2, 3, 4, 5]

my_list = []

print("Empty list:", my_list)

Empty list: []

## Question 11
Write a Python program to find the number of elements in the list [1, 2, 3, 4, 5, 6, 7, 8, 9].

In [12]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

num_elements = len(my_list)

print("Number of elements in the list:", num_elements)

Number of elements in the list: 9

## Question 12
Given the list ['apple', 'banana', 'apple', 'cherry'], count and print how many times 'apple' appears in the list.

In [13]:
fruits = ['apple', 'banana', 'apple', 'cherry']

apple_count = fruits.count('apple')

print("The number of times 'apple' appears in the list is:", apple_count)

The number of times 'apple' appears in the list is: 2

## Question 13
Create a list of the words ['banana', 'apple', 'cherry']. Write a Python program to sort the list alphabetically and print it.

In [14]:
words = ['banana', 'apple', 'cherry']

words.sort()

print("Sorted list:", words)

Sorted list: ['apple', 'banana', 'cherry']

## Question 14
Given the list [1, 2, 3, 4, 5], write a script that reverses the list and prints it.

In [15]:
original_list = [1,2,3,4,5]
reverse_list = original_list[::-1]
print(reverse_list)

[5, 4, 3, 2, 1]

## Question 15
Check if the value 'cat' exists in the list ['dog', 'rabbit', 'horse'] and print the result as a boolean value.

In [16]:
my_list = ['dog', 'rabbit', 'horse']
result = 'cat' in my_list
print(result)

False

## Question 16
Copy the contents of list a = [1, 2, 3] into a new list b and print both lists.

In [17]:
a = [1, 2, 3]
b = a.copy() 
print("List a:", a)
print("List b:", b)

List a: [1, 2, 3]
List b: [1, 2, 3]

## Question 17
Using list comprehension, create a list of squares for numbers from 1 to 10 and print the list.

In [18]:
squares = [x ** 2 for x in range(1, 11)]

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Question 18
Here is a nested list: [[1, 2], [3, 4], [5, 6]]. Access and print the second element of the first nested list.

In [19]:
nested_list = [[1, 2], [3, 4], [5, 6]]
print(nested_list[0][1])

2

## Question 19
Concatenate the lists [1, 2, 3] and [4, 5, 6] into a single list and print the result.

In [20]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list1 + list2
print(result)

[1, 2, 3, 4, 5, 6]

## Question 20
Using a list as a stack, push the elements 10, 20, 30, one by one, and then pop each one in LIFO order, printing each popped element.

In [21]:
stack = []

stack.append(10)
stack.append(20)
stack.append(30)

while stack:
    popped_element = stack.pop()
    print("Popped:", popped_element)

Popped: 30
Popped: 20
Popped: 10